@font-face {
  font-family: Kollectif;
  src: url(./fonts/Kollektif.ttf);
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  width: 50%;
  line-height: 2.2em;
  min-height: 22vh;
  margin-top: 2%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
  text-align: left;
  border-bottom: 2px solid black;
  background-color: white;
}

.App-link {
  color: #09d3ac;
}

.authors{
  text-align: right;
  font-style: italic;

}
.content{
  position: relative;
  margin: 1.5% 25%;
  /* left: 0; */
  text-align: left;
  display: block;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1.5vmin);
}

.contentblock{
  margin-bottom: 2%;
}

.link{
  text-decoration: none;
  transition: all .2s ease-in-out;
}

.link:hover{
  transform : scale(1.1);
}

p{
  margin-bottom: 2%;
}

h2{
  font-family: Kollectif;
  font-size:1.8em;
  padding-bottom:2%;
}

h3{
  font-family: Kollectif;
  font-size:1.5em;
  margin-bottom: 2%;
  margin-top: 2%;

}

h4{
  font-family: Kollectif;
  font-size: 1em;
  margin-bottom: 2%;
}

.code{  
  font-family: 'Courier New', Courier, monospace;

  font-size:.5em
}

svg {
  display: inline-block;
  vertical-align: middle;
}
